{# M E N U ITEMS  #}
<nav class="ms-auto m-0 my-6 p-0">
  <div class="collapse navbar-collapse p-0" id="myNavbar">
    <ul class="navbar-nav mx-2 align-items-center justify-content-center">

        {# show all items #}
        {% for item in menu_items %}
            <li class="nav-item mb-1">
                <a class="nav-link px-2 pb-2 mx-lg-2 {{ item.class }}" id="{{ item.id }}" href="{{ item.href }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}  
        
    </ul>
  </div>
</nav>