
/* ANIMATE THE MENU ITEMS -----------------------------------------------*/
.myMenu{
  background: linear-gradient(to top, white 0%, var(--color1) 1px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size ease-in-out .3s;
  padding-bottom: 0%;
  color:white;
}
.myMenu:hover{
  background-size: 98% 100%;
  color: white;
}

.myBtonBook{
  max-width: 100px;
  border:2px solid var(--color1);
  border-radius: 16px 0 ;
  color:white;
  background-color: var(--color0);
  /* transition-property: transform;
  transition-duration: 200ms; */
  /* text-align: left; */
  /* padding: 2px 0px 2px 5px; */
  transition: background-color 500ms ease-in-out, border-color 300ms ease-in-out, transform 200ms ease-in-out ;
}
.myBtonBook:hover{
  background-color: var(--color1);
  border:2px solid white;  
  color: white;
  transform: scale(1.15);
}

.myBtonConnect{
  display:block;
  color:white;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 45px;
  transition: color 500ms ease-in-out, border-color 300ms ease-in-out, transform 200ms ease-in-out ;
}
.myBtonConnect:hover{
  color: var(--color1);
  /* font-size: xx-large; */
  background-color: white;
  transform: scale(1.35);
  border: 1px solid var(--color1); 
}

.myYellow{
  color: rgb(223, 223, 132);
}

.myStickers{
  max-width: 380px;

}

.myInnerImg {
  transition: 0.3s;
}
.myInnerImg:hover {
  transform: scale(1.25);
}

.myContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.myOverlay {
  background-color: rgba(239, 178, 145,0.7);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 30%;
  transition: .5s ease;
}
.myContainer:hover .myOverlay {
  top: 70%;
}
.myTextImg {
  color: white;
  font-size: 20px;
  line-height: 22px;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
}

.myHead{
  position:fixed;
  z-index: 2;
  top: 0;
  left: 0px;
  right: 0;
  transition: .7s ease;
}
.myHeadMove{
  top: -100%;
}
.btonQuarter{
  border: 1px darkgreen solid;
  
  /* background-color: red; */
}