/* FONT OF THE TITLE */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Arizonia&family=Bai+Jamjuree:wght@300&family=Dancing+Script:wght@400;500&family=Ephesis&family=Euphoria+Script&family=Inspiration&family=Lato:ital,wght@0,100;0,300;1,300&family=Montserrat:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Qwitcher+Grypen:wght@400;700&family=Ruthie&family=Shadows+Into+Light+Two&family=WindSong:wght@500&display=swap');


/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  
  --color0: #687367;
  --color1: rgb(239, 178, 145);
  --color2: rgb(255, 240, 220, 90%); 
  --color3: black;

  --font0: 'Dancing Script', cursive;
  --font1: 'Bai Jamjuree', sans-serif; 
  --font2: 'Lato', sans-serif;
   /* font-family: 'Shadows Into Light Two', cursive; */
  /* font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mySecondBackColor{
  background-color: var(--color1);
}

.myColor0{
  color: var(--color0);
}
.myColor1{
  color: var(--color1);
}
.myColor2{
  color: var(--color2);
}

/* Used to start the page a bit down because of the curtain effect on the header */
.myBlock{
  display:block;
  width: 100%;
  height: 100px;
  background-color: black;
}
  
h1{
  color: var(--color1);
  font-family:var(--font1);
}
h2{
  color: var(--color1);
  font-family:var(--font2);
}

/*
a{
  color:  rgb(223, 223, 132);
}
a:hover{
  color:chartreuse;
}
*/
.myImages{
  width: 100%;
  height: auto;
}

.arab1{
  width: 45vw;
  max-width: 140px;
}

/* ANIMATION */
@keyframes Turn{
  /* 0% {transform : rotate(1deg)}; */
  100% {transform : rotate(360deg)};
}
.turningLogo{
  /* transform : rotate(-180deg); */
  animation: 2s ease-in 1s 1  Turn;
}

/* CONTACT US */
.myBtonSocial{
  background-color: black;
  margin:10px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0%;
  border:1px solid rgb(223, 223, 132);
  box-shadow: rgba(248, 185, 50, 0.74) 0px 0px 20px 0px;
  font-size: 3rem;
}
.myBtonSocial:hover{
  box-shadow: white 0px 0px 40px 0px;
}
.myFB{
  /* color:rgb(66, 103, 178); official FB color*/
  color:aqua;
}
.myMail{
  color:gold;
}
.myTel{
  color:greenyellow
}

.myHeader{
  height: 100%;
  background-color: var(--color0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7) ;
}

/* R E S P O N S I V I T Y --------------------------------------------------------------*/

/* RESPONSIVITY : WIDTH VALUES INFERIOR 350px LARGE */
.myLogo{
  background-image: url("../IMG/logoW.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 80px;
  /* border: 2px solid orange; */
  /* box-shadow: 0 0 5px rgba(255, 255, 255,0.92); */
}
.myVertical{
  bottom: 10%; 
  left:10px;
  color:white;
}
.myTitle{
 
  font-family: var(--font0);
  font-size: 32px;
  word-wrap: break-word;
  white-space: normal;
  color:rgba(255, 255, 255,1);
  text-shadow: -4px -3px 6px rgba(137, 137, 135, 0.7);
  border-width: 0;
  line-height: 26px;
  /* top:140px; */
  /* position:absolute; */
}
.myRestau{
  color: var(--color1);
  font-size: 12px;
}
.myWidth{
  /* max-width: 95%; */
  /* padding: auto; */
  margin: 0;
}
.myWidthSmall{
  max-width: 95%;
  max-width: 500px;
}

/* RESPONSIVITY : WIDTH VALUES from 576px to 992px LARGE */
@media (min-width: 576px){
  .myLogo{
    height: 5em;
    width: 6em;
  }
  .myVertical{
    bottom:9%;
    left:10px;
    color:white;
  }
  .myTitle{
    font-size: 30px;
    word-wrap: normal;
    white-space: nowrap;
    line-height: 16px;
  }
  .myRestau{
    font-size: 17px;
  }  
  .myWidth{
    max-width: 95%;
    max-width: 600px;
  }
  .myWidthSmall{
    max-width: 95%;
    max-width: 500px;
  }
}

/* RESPONSIVITY : WIDTH VALUES MORE THAN 992px LARGE = 'LG'*/
@media (min-width: 992px){
  .myLogo{
    height: 6em;
    width: 7em;
  }
  .myVertical{
    bottom:9%;
    left:15px;
    color:white;
  }
  .myTitle{
    font-size: 42px;
    line-height: 34px;
  }
  .myWidth{
    max-width: 650px;
  }
  .myWidthSmall{
    max-width: 500px;
  }
}

.myActive, .myActive:visited, .myActive:hover, .myActive:active {
  color: var(--color1);
  font-weight: bolder;
}

.my-divider {
  width: 100%;
  height: 10px;
  background-color: var(--color1);
  background-color: var(--color0);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

body{
  padding: 0;
  background-color: var(--color0);
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: var(--font2);
  font-size: 1.2rem;
}

html{
  font-size: 16px;
}